<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
    <button
      class="rounded-full bg-red-700 text-white mb-4 mt-2 p-2"
      (click)="deleteProduct(product.id)"
    >
      DELETE
    </button>
    <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2" />
    <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
    <p>
      Price:
      <span class="font-bold">{{ product.price | currency : "UAH" }}</span>
    </p>
    <button
      (click)="details = !details"
      class="border py-2 px-4 rounded"
      [ngClass]="{
        'bg-amber-400': !details,
        'bg-fuchsia-400': details
      }"
    >
      {{ details ? "Hide" : "Show" }} Details
    </button>

    <div *ngIf="details">
      <p>{{ product.description }}</p>
      <p>
        Rate:
        <span [ngStyle]="{ fontWeight: 'bold' }">
          {{ product.rating.rate | number : "1.2-4" }}</span
        >
      </p>
    </div>
  </div>
</div>
